/* Colors and global stuff */
* {
    font-family: sans-serif;
    transition: 0.1s, opacity 0.4s, background-color 0.6s;
}

:root {
    --main-color: #eeeeee;
    --detail-color: #222222;
    --background:  #cfcfcf;
    --font-1: black;
    --font-2: white;
    --font-3: rgb(92, 92, 92);
    --read-color: rgb(0, 181, 0);
    --shadow-color: rgb(37, 37, 37);
}

:root.dark {
    --main-color: #101010;
    --detail-color: #e6e6e6;
    --background: #232323;
    --font-1: white;
    --font-2: black;
    --read-color: green;
    --font-3: rgb(170, 170, 170);
    --shadow-color: rgb(241, 241, 241);
}

body {
    background-color: var(--background);
    overflow: hidden;
}

body > div {
    padding-left: max(5px, 20%);
    padding-right: max(5px, 20%);
    box-shadow: 0px 5px 5px -5px var(--shadow-color);
}

body > div > div {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

button,
.btn {
    background-color: var(--detail-color);
    color: var(--font-2);
    padding: 0.5rem;
    border-radius: 10px;
    border: 0px;
    font-weight: 700;
    font-size: minmax(1rem, 1.2rem);
}

/* Toggle theme button */
.fa-sun,
.fa-moon {
    color: var(--detail-color);
}

.toggle:hover {
    transform: rotate(360deg);
}

/* Pop-up and overlay */
.overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 30px;
    color: var(--font-2);
    background: var(--detail-color);
    border-radius: 10px;
    max-width: 190px;
    position: relative;
}

.popup .header {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup .close {
    text-decoration: none;
    color: red;
    font-weight: 600;
    font-size: 1.5rem;
}

.popup form {
    margin-top: 20px;
}

.popup form > div {
    margin-bottom: 20px;
}

#submitButton {
    color: var(--font-1);
    background-color: var(--main-color);
    transition: 0.1s ease-in-out;
}

.popup input[type="text"],
.popup select,
.popup input[type="number"] {
    padding: 5px;
    border-radius: 10px;
    width: 90%;
}

.popup .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.popup .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.popup .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.popup .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.popup input:checked + .slider {
    background-color: #2196F3;
}

.popup input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.popup input:checked + .slider:before {
    transform: translateX(26px);
}

.popup div:last-of-type {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

/* Upper section */
.upper {
    background-color: var(--main-color);
}

/* Header */
.upper .header {
    color: var(--font-1);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Panel */
.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    gap: 10px;
    flex-wrap: wrap;
}

.control-panel > div {
    display: flex;
    width: auto;
    min-width: 15vw;
    min-height: 30px;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
    #reset {
        display: none;
    }
}

/* Book grid */
.book-grid {
    background-color: var(--background);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 295px));
    grid-template-rows: auto 1fr;
    grid-auto-flow: row;
    height: 63vh;
    overflow: overlay;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.book-grid > div {
    background-color: var(--main-color);
    color: var(--font-1);
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    box-shadow: 5px 5px 5px -5px var(--shadow-color), -5px -5px 5px -5px var(--shadow-color);   
}

.book-grid .read {
    border: 3px solid var(--read-color);
}

.book-grid .unread {
    border: 3px solid var(--detail-color);
}

.book-grid p {
    color: var(--font-3);
} 

.book-grid > div > div {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-top: 40px;
}

.fa-trash {
    color: red;
}

.fa-pen-to-square {
    color: var(--font-1);
}

/* Footer */

footer {
    font-size: 1.1rem;
    min-height: 5vh;
    text-align: center;
    color: var(--font-1);
    padding-top: 10px;
}

footer p{
    display: inline;
}

footer a{
    text-decoration: none;
    color: var(--font-1);
}

.fa-github:hover {
    transition: 0.2s ease-in-out;
    transform: rotate(360deg);
}