
/* Global styles */
body {
    font-family: Consolas;
    background-color:aliceblue;
    margin: 0;
    font-weight: 200;
}

body div {
    margin: 0;
    padding-top: 7px;
    padding-top: 7px;
}

.content{
    margin-left: 20%;
    margin-right: 20%;
}

a {
    color:aliceblue;
    text-decoration: none;
    font-weight: 900;
    font-style: italic;
}

img {
    height: 300px;
    width: auto;
    border: 4px solid rgb(60, 60, 60);
}

/* Header */
.header {
    background-color: rgb(60, 60, 60);
    color: aliceblue;
    padding-bottom: 2%;
}

.header .content {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    font-size: 20px;
}

.header .link-container {
    display: flex;
    gap: 5%;
    align-items: center;
}

/* Main */
.main {
    background-color: rgb(50, 75, 96);
    padding-bottom: 2%;
}

.main .content {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}

.main .content h2 {
    font-size: 36px;
    font-weight: 700;
}

.main .content p {
    font-size: 24px;
}

/* Footer */
.footer {
    text-align: center;
    background-color: rgb(60, 60, 60);
    color: aliceblue;
    padding: 1%;
}