/* Toggle Theme */
/* ============ */
/* Should be used with "theme-button.js".
   Should import fa-sun and fa-moon in html.
   Should address the icons colors as --font-1 and --font-2
*/

.toggle {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.4s;
    margin-left: 10px;
    margin-right: 10px;
}

.toggle i {
    position: absolute;
    transition: 0.4s;
}

.fa-moon {
    opacity: 0;
    transform: rotate(180deg);
}

input[id="checkTheme"] {
    display: none;
}

#checkTheme:checked ~ .toggle .fa-moon {
    opacity: 1;
    transform: rotate(0);
}

#checkTheme:checked ~ .toggle .fa-sun {
    opacity: 0;
    transform: rotate(-180deg);
}